h1 {
    font-size: 1.4em;
    text-align: center;
    font-weight: 400;
}

hr {
    width: 300px;
    border: 1px solid rgba(177, 176, 176, 0.8);
    border-bottom: 0;
}

.card {
    text-align: center;
}